<div class="container">
    <h2>Your order details</h2>

    Your order number is {{ orderObject.getOrderHeader().getGeneratedId }}
    {% set orderTotal = 0 %}
    {% for item in orderObject.getOrderItems %}
        <div class="row">
            <div class="col-sm-3">
                {{ item.product.description }}
            </div>
            <div class="col-sm-3">
                {{ item.quantity }}
            </div>
            <div class="col-sm-3">
                {{ item_price_calculator.getCurrency().getSymbol() }}
                {{ item_price_calculator.getPriceWithTax(item) * item.quantity }}
            </div>
            {% set orderTotal =  orderTotal + item_price_calculator.getPriceWithTax(item) * item.quantity %}
        </div>
        <div class="row"
    {% endfor %}
    <div class="row">
        Order Total = {{ orderTotal }}
    </div>
    <a class="btn btn-dark" href="{{ path('web_shop_payment_start',
        {'generatedId': orderObject.getOrderHeader().getGeneratedId()}) }}">To Payment > </a>

</div>