<div id="sidebar-headline" class="w-100 d-flex bg-light p-2">
    <div class=" m-2">Categories</div>
    <div class="m-2"><a href="">search...</a></div>
</div>
<div id="category-hierarchy" class="mt-1">
    {% if categories is defined and categories is not empty %}
        {% for category in categories %}
            {{ _self.recursive(category,1) }}
        {% endfor %}
    {% else %}
        <p>
            You do not have any categories to display. Create them <a target="_blank"
                                                                      href="{{ "sc_route_admin_category_create" }}">here</a>
        </p>
    {% endif %}
</div>
{% macro recursive(category,level) %}

    {% set display_key= "" %}
    {% set display_key = "" %}
    {% set innerHtml = "" %}
{#
all attributes have been deliberately made active as there are two possibilities
a) The list expands and doesn't do anything till last node ( listing of product related to last leaf node)
    b) The list expands as well as opens up the product list
#}
    <ul class="list active level-{{ level}} ">
        {% for key,value in category %}
            {% if key == 'name' %}
                {% set display_key= key %}
                {% set display_key = category.description %}
            {% elseif value is iterable %}
                {% set innerHtml =  _self.recursive(value,level+1) %}
            {% endif %}
        {% endfor %}
        <li class="list-items">
            <a href="{{ path('sc_home',{'category':display_key}) }}"><i
                        class="bi bi-plus"></i> {{ display_key }} </a>
            {{ innerHtml }}
        </li>
    </ul>
{% endmacro recursive %}
{#
    // Do not delete. You may use your own framework to decide on what to do with clicks
    // todo: customize thru config ?
<script type="module">
    $(document).ready(function () {

        // when clicked on button
        $("#category-hierarchy ul li").on("click", function (event) {
            event.preventDefault();
            event.stopPropagation();


            if ($(this).children("ul").length > 0) {
                let children = $(this).children("ul");
                $(children).toggleClass("active");
            }

        });
        // when clicked on button
        $("#category-hierarchy ul li a").on("click", function (event) {
            event.preventDefault();
            event.stopPropagation();


            if ($(this).children("ul").length > 0) {
                let children = $(this).children("ul");
                $(children).toggleClass("active");
            }

        });
    })
</script>
#}