{# templates/user/create.html.twig #}

<div class="container">
    {{ form_start(form) }}


    <div class="row-flex mr-auto">
        <a class="btn btn-link" href="{{ path('module_web_shop_cart_clear') }}">
            <i class="bi bi-trash"></i> Clear Cart
        </a>
    </div>
    <div class="bg-light py-2">

        {% for element in form.items %}
            <div class="row">
                {# form_row does not work well. Shows label as indexes #}
                <div class="col-sm-9">
                    {{ render(controller('App\\Controller\\Module\\WebShop\\External\\Cart\\CartController::single',
                        {'id': element.productId.vars.value } )) }}
                </div>
                <div class="col-sm-1">
                    {{ form_widget(element.quantity) }}
                    <div class="d-none">
                        {{ form_widget(element.productId) }}
                    </div>
                </div>
                <div class="col-sm-1">
                        {{ price_by_country_code.currency }}
                    {{ price_by_country_code.getPriceWithoutTax(element.productId.vars.value)
                    * element.quantity.vars.value }}
                </div>

                <div class="col-sm-1">
                    <a href="{{ path('module_web_shop_cart_delete_product',{'id':element.productId.vars.value}) }}">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="bg-light py-2 flex-row d-flex my-4">
        <div class="p-2">
            {{ form_widget(form.update) }}
        </div>
        <div class="p-2 mr-auto">
            {{ form_widget(form.checkout) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

